<a href="https://colab.research.google.com/github/A1r33s-thewarman/Segmenting-and-Clustering/blob/main/%20Segmenting%20and%20Clustering%20Neighborhoods%20in%20Toronto%20Q1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [ ]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
source = requests.get(url).text
Canada_data = BeautifulSoup(source, 'lxml')

In [ ]:
column_names = ['Postalcode','Borough','Neighborhood']
toronto = pd.DataFrame(columns = column_names)

In [ ]:
content = Canada_data.find('div', class_='mw-parser-output')
table = content.table.tbody
postcode = 0
borough = 0
neighborhood = 0

for tr in table.find_all('tr'):
    i = 0
    for td in tr.find_all('td'):
        if i == 0:
            postcode = td.text
            i = i + 1
        elif i == 1:
            borough = td.text
            i = i + 1
        elif i == 2: 
            neighborhood = td.text.strip('\n').replace(']','')
    toronto = toronto.append({'Postalcode': postcode,'Borough': borough,'Neighborhood': neighborhood},ignore_index=True)

# clean dataframe 
toronto = toronto[toronto.Borough!='Not assigned']
toronto = toronto[toronto.Borough!= 0]
toronto.reset_index(drop = True, inplace = True)
i = 0
for i in range(0,toronto.shape[0]):
    if toronto.iloc[i][2] == 'Not assigned':
        toronto.iloc[i][2] = toronto.iloc[i][1]
        i = i+1
                                 
df = toronto.groupby(['Postalcode','Borough'])['Neighborhood'].apply(', '.join).reset_index()
df.head()

                                          Postalcode  ...                                       Neighborhood
0                              \nM1ANot assigned\n\n  ...                     M9AEtobicoke(Islington Avenue)
1              \nM1BScarborough(Malvern / Rouge)\n\n  ...  M9BEtobicoke(West Deane Park / Princess Garden...
2  \nM1CScarborough(Rouge Hill / Port Union / Hig...  ...  M9CEtobicoke(Eringate / Bloordale Gardens / Ol...
3  \nM1EScarborough(Guildwood / Morningside / Wes...  ...                                    M9ENot assigned
4                       \nM1GScarborough(Woburn)\n\n  ...                                    M9GNot assigned

[5 rows x 3 columns]

In [ ]:
df = df.dropna()
empty = 'Not assigned'
df = df[(df.Postalcode != empty ) & (df.Borough != empty) & (df.Neighborhood != empty)

SyntaxError: ignored

In [ ]:
def neighborhood_list(grouped):    
    return ', '.join(sorted(grouped['Neighborhood'].tolist()))
                    
grp = df.groupby(['Postalcode', 'Borough'])
df2 = grp.apply(neighborhood_list).reset_index(name='Neighborhood')

In [ ]:
print(df2.shape)
df2.head(10)

(20, 3)

                                          Postalcode  ...                                       Neighborhood
0                              \nM1ANot assigned\n\n  ...                     M9AEtobicoke(Islington Avenue)
1              \nM1BScarborough(Malvern / Rouge)\n\n  ...  M9BEtobicoke(West Deane Park / Princess Garden...
2  \nM1CScarborough(Rouge Hill / Port Union / Hig...  ...  M9CEtobicoke(Eringate / Bloordale Gardens / Ol...
3  \nM1EScarborough(Guildwood / Morningside / Wes...  ...                                    M9ENot assigned
4                       \nM1GScarborough(Woburn)\n\n  ...                                    M9GNot assigned
5                    \nM1HScarborough(Cedarbrae)\n\n  ...                                    M9HNot assigned
6          \nM1JScarborough(Scarborough Village)\n\n  ...                                    M9JNot assigned
7  \nM1KScarborough(Kennedy Park / Ionview / East...  ...                                    M9KNot assigned
8  \nM1LScarborough(Golden Mile / Clairlea / Oakr...  ...                       M9LNorth York(Humber Summit)
9  \nM1MScarborough(Cliffside / Cliffcrest / Scar...  ...                   M9MNorth York(Humberlea / Emery)

[10 rows x 3 columns]

In [ ]:
print('The DataFrame shape is', df2.shape)

The DataFrame shape is (20, 3)